<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--慢调用时间阀值 单位：毫秒-->
    <add key="SlowShreshold" value="500" />
    <!--记录参数返回值开关-->
    <add key="SmallLogRecord" value="false" />

    <!--App日志是否记录集合参数-->
    <add key="RecordAppCollecttionParams" value="false"/>

    <!-- 是否记录App记录 -->
    <add key="AppRecord" value="false" />

    <!-- 是否记录Debug记录 -->
    <add key="RecordDebug" value="true" />

    <!-- 异常最小记录类型 INFO WARN ERROR FATAL-->
    <add key="ExceptionMinitorLevel" value="Info" />

    <!-- 查否关掉所有日志记录器,true关掉，false开启 -->
    <add key="IsCloseAllLog"  value="false"/>

    <!-- Application记录值，只针对mysql，如果value为空字符串则按原逻辑取值 -->
    <add key="AppNameStr" value="火车票业务管理系统研发"/>

    <!-- UIACC数据统计开关 开:true 关:false -->
    <add key="UiaccStatSwitch" value="true"/>

    <!-- Exception数据统计开关 开:true 关:false -->
    <add key="ExceptionStatSwitch" value="true"/>

    <!-- 统计区间时长 -->
    <add key="StatisticsTimeInterval" value="5"/>

    <!-- 内部异常文本日志开关 true开 false关 -->
    <add key="InnerTextSwitch" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--日志配置信息数据库节点-->
    <add name="LogconfigInfoConnection" connectionString="server=192.168.1.60;database=LogconfigInfo;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- App日志库 -->
    <add name="AppLogConnection" connectionString="server=192.168.1.60;database=LogApp;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- UIACC日志库 -->
    <add name="UiaccLogConnection" connectionString="server=192.168.1.60;database=LogUiacc;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- 异常EXCEPTION日志库 -->
    <add name="ExceptionLogConnection" connectionString="server=192.168.1.60;database=LogException;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- ACC日志库 -->
    <add name="AccLogConnection" connectionString="server=192.168.1.60;database=LogAcc;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- DEBUG日志库 -->
    <add name="DebugLogConnection" connectionString="server=192.168.1.60;database=LogDebug;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- 缓存命中cachehit日志库 -->
    <add name="CacheHitLogConnection" connectionString="server=192.168.1.60;database=LogCacheHit;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- 慢日志slowcall日志库 -->
    <add name="SlowCallLogConnection" connectionString="server=192.168.1.60;database=LogSlowCall;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- 交互日志interaction日志库 -->
    <add name="InteractionLogConnection" connectionString="server=192.168.1.60;database=LogInteraction;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- UIACC日志统计库 -->
    <add name="LogUiaccStatisticsConnection" connectionString="server=192.168.1.60;database=LogUiaccStatistics;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
    <!-- Exception日志统计库 -->
    <add name="LogExceptionStatisticsConnection" connectionString="server=192.168.1.60;database=LogExceptionStatistics;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@"/>
  </connectionStrings>
</configuration>