<?xml version="1.0"?>
<!-- 注意: 除了手动编辑此文件以外，还可以使用
    Web 管理工具来配置应用程序的设置。可以使用
    Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中 -->
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="UserLoginServiceTcpBinding"  maxReceivedMessageSize="1073741824"  receiveTimeout="00:05:00"  sendTimeout="00:05:00">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- iis host for test -->
      <endpoint address="net.tcp://192.168.1.225:211/UserLoginService.svc" binding="netTcpBinding"
                bindingConfiguration="UserLoginServiceTcpBinding"
                contract="Better517Na.WCF.IUserLoginService.IUserLoginService"
                name="UserLoginServiceEndpoint"/>

      <!--<endpoint address="net.tcp://localhost:2222/UserLogin/UserLoginService"
                  binding="netTcpBinding" bindingConfiguration="UserLoginServiceTcpBinding"
                  contract ="Better517Na.WCF.IUserLoginService.IUserLoginService"
                name="UserLoginServiceEndpoint"/>-->
    </client>
  </system.serviceModel>
</configuration>

