<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 唯一标识 -->
    <add key="UniqueSign" value="WEB-GNJP-612" />
  </appSettings>
  <connectionStrings>
    <!-- 服务路由写连接 -->
    <add name="ServiceRouteWriteConnection" connectionString="server=192.168.1.60;database=ServiceRouteDB;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@" providerName="MySql.Data.MySqlClient" />
    <!-- 服务路由读连接 -->
    <add name="ServiceRouteReadConnection" connectionString="server=192.168.1.60;database=ServiceRouteDB;charset=utf8;uid=72z/kkH6rjpukGUrxaTapw@@;pwd=Uo41b9HTEBABsL8yomOUSQ@@" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyBehavior">
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="CommonServiceBinding" maxReceivedMessageSize="1073741824" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="1073741824" maxArrayLength="1073741824" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpCommonServiceBinding" maxReceivedMessageSize="1073741824" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="1073741824" maxArrayLength="1073741824" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="" behaviorConfiguration="MyBehavior" binding="netTcpBinding" bindingConfiguration="CommonServiceBinding" contract="commonContract" name="commonEndPoint" />
      <endpoint address="" behaviorConfiguration="MyBehavior" binding="wsHttpBinding" bindingConfiguration="wsHttpCommonServiceBinding" contract="commonContract" name="wsHttpcommonEndPoint" />
    </client>
  </system.serviceModel>
</configuration>